J2: 0.5
L: 6
NN_dtype: cpx
NN_shape_str: 36--2
NN_type: DNN
N_MC_chains: 4
N_MC_points: 100
N_batch: 100
N_iterations: 3
load_data: false
minibatch_size: 100
mode: MC
optimizer: RK
save_data: true
seed: 1
start_iter: 0
stop_iter: 2
