J2: 0.5
sign: 1 # -1: Marshal rule is on; +1 Marshal rule is off
L: 4
NN_dtype: real-decoupled # cpx #
NN_shape_str: (16--10,16--24--12)  
NN_type: DNN
N_MC_chains: 2
N_MC_points: 107 # 200 # 
N_iterations: 500
batchnorm: false
load_data: false
minibatch_size: 100
mode: exact # MC # 
grad_update_mode: alternating # normal # phase # log_mod #  
MC_thermal: true
optimizer: NG # adam #
save_data: true
seed: 0
start_iter: 0
