J2: 0.5
L: 4
NN_dtype: cpx
NN_shape_str: 16--4
NN_type: DNN
N_MC_chains: 4
N_MC_points: 4000
N_batch: 4000
N_iterations: 50
load_data: false
mode: MC
optimizer: NG
save_data: true
seed: 1
start_iter: 0
stop_iter: 49
