J2: 0.5
sign: -1 # -1: Marshal rule is on; +1 Marshal rule is off
L: 4

N_iterations: 2

NN_dtype: real # 
#NN_dtype: cpx #


#NN_shape_str: (6x6-10--3x3-8--2x2-6--1x1-4--1x1-2,6x6-20--1x1-16--1x1-12) # (1325,1260)
#NN_shape_str: (6x6-8--3x3-6--2x2-4--1x1-4--1x1-2,6x6-16--1x1-12--1x1-8) # (857,884)
#NN_shape_str: (6x6-7--3x3-5--2x2-3--1x1-2--1x1-2,6x6-14--1x1-10--1x1-6) # (650,720)
#NN_shape_str: (6x6-6--3x3-4--2x2-4--1x1-2--1x1-2,6x6-12--1x1-8--1x1-4) # (521,572)

#NN_shape_str: (8x8-8--3x3-6--2x2-4--1x1-4--1x1-2,8x8-16--1x1-12--1x1-8)  
# NN_shape_str: (6x6-8--3x3-6--2x2-4--1x1-4--1x1-2,6x6-16--1x1-12--1x1-8)  
# NN_shape_str: (4x4-8--3x3-6--2x2-4--1x1-4--1x1-2,4x4-16--1x1-12--1x1-8)  
# NN_type: CNN 


# NN_shape_str: (6x6-8--3x3-4--1x1-2,6x6-16--1x1-12--1x1-8) # (4x4-8--2x2-4--1x1-2,4x4-16--1x1-12--1x1-8)  
# NN_type: CNN 

NN_shape_str: (4x4-12--1x1-8,4x4-24--1x1-12) # (4x4-4,4x4-24) #  
NN_type: CNN 

#NN_shape_str: (36--12--8,36--24--12)
# NN_shape_str: (16--4,16--24--12) # (16--12--8,16--24--12) # 
# NN_type: DNN  

N_MC_chains: 1
MC_thermal: true
MC_prop_threshold: 1.0 # large values means local proposals
minibatch_size: 200

# N_MC_points: 100
# mode: MC 

N_MC_points: 107 # 
mode: ED #
#mode: exact


batchnorm: false
adaptive_SR_cutoff: false

grad_update_mode: normal # phase # log_mod #  alternating # 
alt_iter: 20 # of iterations to keep each alternating update for  

TDVP_opt: (svd,svd) # 'inv', 'cg', 'svd'
opt: (RK,RK) # adam, sgd, RK
adaptive_step: true # adaptive step size for 2nd order RK
step_size: (1E-2,1E-2) #(1E-2,1E-2) # (5E-3,5E-3),

cost: (SR,SR) # SR, energy

print: true # false # 
save_data: true
load_data: false
start_iter: 0

seed: 24011992 # 123 #  # 777

