J2: 0.5
L: 6
NN_dtype: cpx
NN_shape_str: 36--12--6
NN_type: DNN
N_MC_chains: 1
N_MC_points: 200
N_batch: 200
N_iterations: 5
batchnorm: true
load_data: false
minibatch_size: 100
mode: MC
optimizer: NG
save_data: true
seed: 666
start_iter: 0
stop_iter: 4
