J2: 0.5
L: 4
NN_dtype: cpx
NN_shape_str: 16--2
NN_type: DNN
N_MC_chains: 1
N_MC_points: 107
N_batch: 107
N_iterations: 2
load_data: false
mode: exact
optimizer: adam
save_data: true
seed: 1
start_iter: 0
stop_iter: 1
